name: Quarto Publish

on:
  push:
    branches: ["master"]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: quarto-dev/quarto-actions/render@v2

      - uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages